@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 90%;
    margin: auto;
    text-align: center
}
