<!DOCTYPE html>
<head>
    <title>hi</title>
    <link href="~/styles/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <h1>Welcome!</h1>

    <!--we are going to do a post request to our server with the information in our form-->
    <form method="post">
        <label name="FromYear">From what year?:</label>
        <input type="number" name="FromYear" placeholder="From What Year?" />
        <label name="ToYear">To what year?:</label>
        <input type="number" name="ToYear" placeholder="To What Year?" />

        <button type="submit">Submit</button>
    </form>
</body>